{% extends 'post_base.html' %}

{% block content %}
    {% for post in posts %}
        <div class="list-group mb-2">
            <a href="{% url 'post-detail' post.id %}" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{ post.title }}</h5>
                </div>
                <p class="mb-1">{{ post.description }}</p>
                <small class="text-muted">{{ post.text|truncatewords:5 }}</small>
            </a>
        </div>
    {% endfor %}
{% endblock content %}